.table-view {
    -fx-background-color: transparent;
}


.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}


/* Navigation Bar */
#main_menu_vbox {
    -fx-background-color: #01374D;
    -fx-background-radius: 0 0 32px 0;
}

#main_menu_vbox .button {
    -fx-background-position: left center;
    -fx-background-color: #01374D;
    -fx-background-radius: 0;
}

#main_menu_vbox .button:hover {
    -fx-background-color: #cbbdbd;
    -fx-text-fill: white;
}

#main_menu_vbox .button:pressed {
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

    -fx-font-size: 11px;
    -fx-font-weight:100;
    -fx-padding: 0px 0px 0px 75px;
    -fx-cursor:hand;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

#main_menu_vbox .button:pressed {
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

}

#main_admin_button:hover {
    -fx-background-color: #EA5444;
    -fx-text-fill: white;
}

#main_menu_vbox .button:focused {
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

    -fx-font-size: 11px;
    -fx-font-weight:100;
    -fx-padding: 0px 0px 0px 75px;
    -fx-cursor:hand;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

/*#main_logout_button:focused:pressed:selected:hover {*/
/*    -fx-background-color: #008037;*/
/*    -fx-background-position: center;*/
/*    -fx-font-size: 11px;*/
/*    -fx-padding: 0;*/
/*}*/